DATABASE_URL=postgresql://neondb_owner:npg_jT9YcuDIF4BS@ep-shy-frost-awtkdyjo-pooler.c-12.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

NEXT_PUBLIC_APP_URL=

CLOUDINARY_CLOUD_NAME=@kdkekh8n
CLOUDINARY_API_KEY=657664138952244
CLOUDINARY_API_SECRET=kd6NX3czKTNpjaEYXXBIi7M5dmM

ADMIN_EMAIL=admin@cnifind.cm
ADMIN_PASSWORD=Admin12345
